.container-queststart{
  display: flex;
  flex-direction: column;
  min-height: 500px;
  justify-content: center;
  align-items: center;
}
.container-queststart .wrapper{
  display: flex;
  align-items: center;
  background-color: #223F55;
  flex: 1 1;
  max-width: 450px;
  height: 100%;
  width: 90%;
  margin: 10px auto;
  flex-direction: column;
}
.container-queststart .wrapper .box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 130px;
  margin-top: 3rem;
  background-color: #2F648B;
  font-size: 2.4em;
  color: #222B2A;
}
.container-queststart .wrapper div{
  margin-top: 20px;
  color: #16CAB0;
}
.container-queststart .wrapper span{
  margin-top: 20px;
}
.container-queststart .wrapper button{
  margin-top: 30px;
  width: 200px;
  height: 50px;
  background-color: #FFC216;
  border-radius: 5px;
  border: none;
  color: #232323;
  font-size: 1.3em;

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.container-queststart .wrapper button:hover{
    background-color: orange;

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}


.container-queststart div.goBackToCategoris{
  width: 100%;
  height:80px;
  min-height: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  align-content: center;
  font-size: 2rem;
  margin-top: 0;

}
.container-queststart .goBackToCategoris>p{
  color: #ffff;
  opacity: 0.6;
  cursor: pointer;
  font-size: 3rem;
  padding: 1rem 1.5rem;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.container-queststart .goBackToCategoris>p:hover{
  opacity: 1;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
